name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Dar permissão de execução ao gradlew
        run: chmod +x gradlew

      - name: Build (sem testes)
        run: ./gradlew build -x test

      - name: Rodar Testes
        run: ./gradlew test
